<div class="mx-auto max-w-3xl">
  <.header>
    New World
    <:subtitle>Use this form to manage world records in your database.</:subtitle>
  </.header>

  <.world_form changeset={@changeset} action={~p"/worlds"} />

  <.back navigate={~p"/worlds"}>Back to worlds</.back>
</div>
