<div class="h-[calc(100vh-25px)] grid grid-cols-1 grid-rows-[40px_1fr]">
  <header class="flex items-center justify-between gap-6">
    <h1 class="flex-1"><%= @world.name %></h1>
    <div class="flex-none"><.back navigate={~p"/worlds"}>Back to worlds</.back></div>
    <.link class="flex-none" href={~p"/worlds/#{@world}/edit"}>
      <.button>Edit world</.button>
    </.link>
  </header>

  <div class="map" id="map" data-world-id={@world.id} data-max-zoom={@world.max_zoom || 0}></div>
</div>
